:root{
    --text-tiny: 10px;
    --text-xs: 12px;
    --text-xs1: 13px;
    --text-sm: 14px;
    --text-sm1: 15px;
    --text-md: 16px;
    --text-md1: 17px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-mxl: 22px;
    --text-2xl: 24px;
    --text-3xl: 25px;
    --text-mid: 28px;
    --text-4xl: 30px;
    --text-mb4xl: 32px;
    --text-5xl: 34px;
    --text-mb5xl: 36px;
    --text-6xl: 40px;
    --text-7xl: 42px;
    --text-8xl: 46px;
    --text-9xl: 50px;
    --text-mdbig: 60px;
    --text-wblarge: 65px;
    --text-lgbig: 70px;
    --text-big: 80px;
    --text-wblg: 90px;
    
    --color-themeorange: #cb7e54;
    --color-themegreen: #77dcb2;
    --color-dark: #0a1415;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-bottle-green: #01211e;
    --color-footerbg: #1e1f21;
    --color-theme-lime: #c1f9a7;
    --color-theme-lightgreen: #dff8d4;
    --color-green: #60aa7a;
    --color-footer-heading: #e3f3db;
}


*{
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: var(--color-dark);
    transition: all .3s ease-in-out;
}

.container{
    max-width: 90%;
    margin-inline: auto;
    position: relative;
}

body{
    background: var(--color-dark);
    background: #122620;
    font-family: "Anybody", sans-serif;
}


/*---------------------------------header---------------------------------*/
.header-main{
    position: absolute;
    inset-inline: 0;
    top: 0;
    padding: 15px 0px;
    background: transparent;
    z-index: 5;
    box-shadow: inset 0px 40px 40px rgba(0,0,0,.35);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,.14);
}
.logo{
    position: relative;
    z-index: 6;
}
.menu-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.menu-container__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-container__list ul li{
    display: inline-block;
    padding-left: 30px;
}
.menu-container__list ul li a{
    font-size: var(--text-xl);
    color: rgba(255,255,255,.7);
    text-transform: capitalize;
    transition: color 0.3s ease-in;
}
.menu-container__list ul li:hover a{
    color: rgba(255,255,255,1);
}
.logo img{
    max-width: 50px;
}
.mobile-menu__burger{
    position: relative;
    cursor: pointer;
    width: 30px;
    display: none;
}
.mobile-menu__burger span{
    display: block;
    height: 2px;
    width: 30px;
    background: linear-gradient(to right, var(--color-themeorange), var(--color-themegreen) 92%);
    transition: width 0.3s ease-in, transform 0.3s ease-in;
}
.mobile-menu__burger span:nth-child(2){
    margin: 5px 0px;
    width: 24px;
}
.mobile-menu__burger:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--color-dark);
    left: 25px;
    top: 13px;
    animation: burger-bullet-1 2s ease-in-out infinite;
}
.mobile-menu__burger:after
{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--color-dark);
    left: 5px;
    top: -2px;
    animation: burger-bullet-2 2s ease-in-out infinite;
}
.mobile-menu__burger:hover span:first-child{
    width: 16px;
}
.mobile-menu__burger:hover span:nth-child(2){
    width: 22px;
}
.mobile-menu__burger:hover span:last-child{
    width: 28px;
}


@keyframes burger-bullet-1{
    0% {
        left: 25px;
    }
    50% {
        left: 5px;
    }
    100% {
        left: 25px;
    }
}
@keyframes burger-bullet-2
{
    0% {
        left: 5px;
    }
    50% {
        left: 25px;
    }
    100% {
        left: 5px;
    }
}


/*---------------------------banner------------------------------*/
.banner{
    position: relative;
    background: radial-gradient(circle, rgba(74, 50, 23, .59) 20%, rgba(18, 23, 24, 1) 100%);
    background: radial-gradient(circle, rgba(5, 68, 94, .12) 0%, rgba(18, 23, 24, 1) 44%);
    background: linear-gradient(to top right, #0f2d38 30%, #10dbc8 228%);
    overflow-x: hidden;
}
.banner__inner{
    height: 100vh;
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px; */
    position: relative;
}
.banner__image{
    /* height: 60%;
    position: relative; */
    z-index: 1;
    animation: fadeIn 5s linear;
    transition: animation 1s;
    /* animation-delay: 1.5s; */
    transition-delay: 4s;
    position: absolute;
    left: 25%;
    right: 0;
    bottom: 0;
    top: 0;
}
.banner__image img{
    /* height: 100%;
    width: auto; */
    display: block;
    height: 100vh;
    width: 100%;
}
h1 span{
  color: #b7f1cd;
}
.banner__text h1{
    font-size: var(--text-7xl);
    font-weight: 600;
    line-height: 1.3;
    color: var(--color-white);
    color: #dff8d4;
    color: #dff8d4;
    animation: fadeIn 2s linear;
}
@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
  }

.banner__text {
    max-width: 350px;
    padding-top: 40px;
    color: rgba(255,255,255,.82);
    position: relative;
    z-index: 2;
    align-self: center;
}
.banner__text p{
    font-size: var(--text-md1);
    margin: 0 0 20px;
    animation: fadeIn 1s linear;
    transition: animation .3s ease-in;
    transition-delay: .6s;
}
.btn-theme{
    display: inline-block;
    padding: 10px 30px;
    background-image: linear-gradient(to right, var(--color-themeorange), var(--color-themegreen) 43%);
    background-image: linear-gradient(to right, #c1f9a7, var(--color-themegreen) 43%);
    background-size: 300% 100%;
    transition: background .3s ease-in-out, color .3s ease-in-out;
    border-radius: 30px;
    text-align: center;
    color: var(--color-black);
    font-size: var(--text-md);
    font-weight: 500;
    border-color: transparent;
    text-transform: capitalize;
}
.btn-theme:hover, .btn-theme:focus {
    background-position: 26% 0;
    color: var(--color-rust);
}
.banner__text .btn-theme{
    animation: fadeIn 2s linear;
    transition: background .3s ease-in-out, color .3s ease-in-out, animation 1s ease-in;
   
}
.banner__object{
    position: absolute;
    inset: 0;
    padding: 100px 0px;
    mix-blend-mode: color-dodge;
}
.banner__object--image{
    max-width: 135px;
    
}
.banner__object--image:first-child{
    margin-left: -6%;
}
/* .banner__object--image:nth-child(2){
    position: absolute;
    right: -90px;
    top: 200px;
}
.banner__object--image:nth-child(3){
    position: absolute;
    right: 0;
    bottom: 8%;
    max-width: 140px;
} */
.banner__object--image:last-child{
    position: absolute;
    left: 20%;
    bottom: 20px;
    opacity: 0.65;
    
}

/*-------------------------------search and tab section--------------------------------------*/
.music-ocean{
    background: url(../images/dj-sound.jpg) no-repeat top center;
    background-size: 100%;
    position: relative;
    z-index: 0;
    padding: 80px 0px;
}
.music-ocean::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(19, 19, 20, .96);
    position: absolute;
    inset: 0;
    z-index: 0;
    box-shadow: inset 0px -150px 150px rgba(25,44,43,.34);
}
.section-heading{
    text-align: center;
    position: relative;
    z-index: 1;
    
}
.section-heading__main{
    font-size: var(--text-8xl);
    line-height: 1;
    color: rgba(255,255,255,.82);
    font-weight: 600;
    margin-bottom: 15px;
    background: linear-gradient(to right, #60aa7a, #dff8d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
}
/* .section-heading__main span{
    background: linear-gradient(to right, var(--color-themeorange), var(--color-themegreen));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.section-heading__text{
    font-size: var(--text-lg);
    color: rgba(255,255,255,.82);
}
.multi-search{
    display: flex;
    height: 54px;
    border: 2px solid rgb(182, 223, 183, .57);
    border-radius: 30px;
    background: linear-gradient(90deg, rgb(139, 188, 209,.1) 0%, rgb(33, 33, 33, .79) 90%);
    padding: 4px;
    max-width: 800px;
    margin-inline: auto;
    margin-top: 80px;
    overflow: hidden;
}
.multi-search__wrap
{
    min-width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(119, 220, 178, .53);
    border-radius: 30px;
    font-size: var(--text-lg);
    color: rgba(255,255,255,.82);
}

.multi-search__input-block{
    flex-grow: 1;
    height: 100%;
    margin-left: -190px;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}
.multi-search__input{
    width: calc(100% - 190px);
    height: 100%;
    font-size: var(--text-lg);
    line-height: 50px;
    color: var(--color-white);
    border: none;
    outline: none;
    background: transparent;
    padding-left: 200px;
}
.multi-search__input::placeholder{
    color: rgba(255,255,255,.7);
    text-align: center;
    transition: opacity .2s ease;
}
.multi-search__input:focus::placeholder{
    opacity: 0;
}
.multi-search__input-action{
    padding: 0;
    background: transparent;
    width: 30px;
    flex-shrink: 0;
    border: none;
}
.multi-search__input-action svg path{
    stroke: rgba(255,255,255,.82);
}


.music-type__card{
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    border: 2px solid rgba(221,238,231,.17);
    transition: border-color .3s ease-in-out;
}
.music-type__card-link{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    z-index: 2;
}
.music-type__card-link:before{
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(18, 23, 24, .45);
    position: absolute;
    inset: 0;
    z-index: 0;
}
.music-type__card-link:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    background: transparent;
    transition: background .3s ease-in-out;
}
.music-type__card:hover{
    border-color: rgba(221,238,231,.45);
}
.music-type__card:hover .music-type__card-link:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    background: rgb(15, 45, 56, .65);
    transition: background .3s ease-in-out;
}

.music-type__card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.music-type__card h4{
    font-size: var(--text-xl);
    font-weight: 600;
    color: rgba(221,238,231,.81);
}
.music-type__card-name{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.music-type__card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 25px;
    
}
.music-type__tab-section{
    display: grid;
    grid-template-columns: 230px 1fr;
    gap: 80px;
    margin-top: 90px;
    max-width: 70%;
    margin-inline: auto;
}


.music-type__tab-menu{
    flex-direction: column;
    align-items: center;
    gap: 35px;
    border-bottom: none !important;
}
.music-type__tab-menu .nav-item{
    position: relative;
    width: max-content;
    z-index: 0;
}
.music-type__tab-menu .nav-link{
    background: transparent;
    border: 2px solid rgba(221,238,231,.17);
    border-radius: 30px;
    padding: 13px 10px;
    min-width: 230px;
    color: rgb(228, 244, 221, .9) !important;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    transition: border-color .3s ease-in, background .3s ease-in;
}
.music-type__tab-menu .nav-link:hover{
    border-color: rgba(221,238,231,.25);
    background: #1b2d2c;
}
.music-type__tab-menu .nav-item.show, .music-type__tab-menu .nav-link.active{
    
    background: #1b2d2c;
    border-color: transparent; 
}

.music-type__tab-menu .nav-item.show:after, .music-type__tab-menu .nav-item:has(.nav-link.active):after{
    content: "";
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background: linear-gradient(var(--gradient-angle), rgb(36, 58, 52, 1), rgba(141, 178, 193, .58));
    background: linear-gradient(var(--gradient-angle), #1b2d2c, rgb(193, 249, 167, .51));
    border-radius: 30px;
    animation: rotation 3s linear 0s infinite normal forwards;
}

@keyframes rotation 
    {
        0%
        {
            --gradient-angle : 0deg;
        }
        100%
        {
            --gradient-angle : 360deg;
        }
    }
@property --gradient-angle
    {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }



    /*---------------------------------boost with music---------------------------*/
    .do-with__music{
        position: relative;
        padding: 80px 0px;
        background: rgba(1, 11, 12, 1);
    }
    .music-boost{
        display: flex;
        gap: 50px;
        overflow: hidden;
        width: 83%;
        margin: 70px auto 0;
    }
    .music-boost__card{
        border-radius: 8px;
        overflow: hidden;
        min-height: 500px;
        max-height: 500px;
        flex: 1 1 50%;
        transition: flex .5s ease-in-out, border-color .5s ease-in-out;
        position: relative;
        border: 2px solid rgba(221, 238, 231, .17);
    }
    .music-boost__card:hover{
        flex: 3 0 65%;
        transition: flex .5s ease-in-out, border-color .5s ease-in-out;
        border-color: rgba(221, 238, 231, .25);
    }
    .music-boost__card a{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }
    .music-boost__card a img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform .5s ease-in-out;
    }
    /* .music-boost__card:hover a img{
        transform: scale(1.1);
    } */
    .music-boost__card a:after{
        content: "";
        height: 100%;
        width: 100%;
        /* background: linear-gradient(to right, #0f2d3800, #10dbc8a1); */
        box-shadow: inset 350px 0px 350px rgba(14, 18, 12, .9);
        position: absolute;
        inset: 0;
        z-index: 0;
    }
    .music-boost__card:last-child a::after{
        box-shadow: inset -280px 0px 200px rgba(17, 47, 45, 1);
    }
    .music-boost__card--content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 20px;
        z-index: 1;
        max-width: 300px;
    }
    .music-boost__card:last-child .music-boost__card--content{
        right: 0;
        text-align: right;
    }
    .music-boost__card--content p{
        font-size: var(--text-mid);
        font-weight: 500;
        color: #dff8d4;
        line-height: 1.6;
    }
    .music-boost__card--content p span{
        font-size: var(--text-xl);
        font-weight: 300;
        display: block;
        margin-top: 18px;
    }
    .do-with__music::before{
        content: "";
        width: 100%;
        height: 100%;
        background: url(../images/listening6.jpg) no-repeat top center;
        background-size: cover;
        position: absolute;
        inset: 0;
        opacity: 0.019;
        z-index: 0;
    }


    /*------------------------latest track section--------------------*/
    .latest-track{
        position: relative;
        padding: 80px 0px;
        text-align: center;
        background: radial-gradient(120.19% 65.75% at -30.21% 2.58%, rgba(236, 243, 219, .10) 7.12%, 
        rgba(10, 36, 28, 1) 42.28%, rgba(23, 23, 23, 1) 100%), linear-gradient(189.22deg, #283009 -17.47%, #000 66.23%);
    }
    .latest-track__slider--model{
        width: 100%;
        height: 100%;
        position: relative;
        padding: 60px 0px 10px;
        position: relative;
        display: flex;
        align-items: center;

    }
    /* .latest-track::before{
        content: "";
        height: 100%;
        width: 100%;
        background: url(../images/mood-with-pop.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        inset: 0;
        opacity: .2;
        z-index: 0;
    } */
    .latest-track__slider{
        position: relative;
        z-index: 1;
        margin-bottom: 60px;
    }
    .latest-track__slider--model__card{
        border-radius: 10px;  
        z-index: 0;
        position: relative;
        text-align: left;
        margin-right: 30px;
        /* width: 100%; */
    
    }
    .latest-track__slider--model__card a{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 6px;
        background: linear-gradient(to top right, rgba(67, 70, 70, .48) 20%, rgba(17, 34, 40, .76) 40%);
        max-width: 1050px;
        min-width: 1050px;
        position: relative;
        z-index: 1;
        min-height: 500px;
        max-height: 500px 
    }
    .latest-track-image{
        height: 100%;
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
    }
    .latest-track__slider--model__card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    .latest-track__text-wrap{
        /* position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50%; */
        color: #dff8d4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 70px;
        position: relative;
    }
    .latest-track__slider--model__card::before{
        /* content: "";
        height: 100%;
        width: 100%;
        box-shadow: inset -300px 0px 300px rgb(181 71 181 / 22%);
        position: absolute;
        inset: 0; */
        content: "";
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        position: absolute;
        top: -3px;
        bottom: -3px;
        left: -3px;
        right: -3px;
        background: linear-gradient(var(--gradient-angle), #434646, rgb(106 145 153 / 51%));
        /* animation: rotation 3s linear 0s infinite normal forwards; */
        border-radius: 6px;
        z-index: 0;
    }
    .latest-track__text-wrap h4{
        font-size: var(--text-6xl);
        font-weight: 800;
        line-height: 1.5;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .latest-track__text-wrap p{
        font-weight: 300;
        line-height: 2;
        margin-bottom: 30px;
    }
    .latest-track__btn{
        display: flex;
        gap: 15px;
    }
    .btn--secondary{
        background: transparent;
        border: 2px solid #c1f9a7;
        color: #c1f9a7;
        transition: border-color .3s ease-in-out, color .3s ease-in-out;
    }
    .btn--secondary:hover, .btn--secondary:focus{
        border-color: var(--color-themegreen);
        color: var(--color-themegreen);
    }
    .latest-track__slider--model{
        height: 100%;
        width: 200%;
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        /* display: flex;
        flex-wrap: nowrap;
        margin: 50px 0px; */
    }
    .latest-track__slider{
        /* height: 100vh;*/
        overflow: hidden;
        display: flex;
        padding: 0px 50px;
        margin-top: 50px;
    }
    .latest-track__slider--model__wrap{
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }


/*----------------------------------pre-footer--------------------------------*/

.pre-footer{
    position: relative;
    background: radial-gradient(120.19% 65.75% at -30.21% 2.58%, rgba(255, 208, 40, .29) 7.12%, rgba(0, 197, 139, .09) 42.28%, 
    rgba(23, 23, 23, 0) 100%), linear-gradient(189.22deg, #283009 -17.47%, #000 66.23%);
    padding: 100px 0px;
    background: radial-gradient(120.19% 65.75% at -30.21% 2.58%, rgba(255, 208, 40, .12) 7.12%, rgba(4, 76, 55, .27) 42.28%, 
    rgba(26, 23, 1, .50) 100%), linear-gradient(189.22deg, #283009 -17.47%, #000 66.23%);
    background: radial-gradient(120.19% 65.75% at -30.21% 2.58%, rgba(255, 208, 40, .12) 7.12%, rgba(15, 45, 56, .70) 42.28%, 
    rgba(1, 11, 12, 1) 100%), linear-gradient(189.22deg, #283009 -17.47%, #000 66.23%);
}

.gallery{
    display: grid;
    grid-gap: 20px;
    grid-auto-rows: 50px;
    grid-auto-flow: dense;
    max-width: 1050px;
    margin-inline: auto;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin-top: 80px;
    z-index: 0;
}
.gallery__item{
    border-radius: 6px;
    overflow: hidden;
}
.gallery__item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .5s ease;
}
.gallery__item:nth-child(2){
    grid-row: span 4;
    margin-top: 50px;
}
.gallery__item:nth-child(3){
    grid-row: span 2;
    margin-top: -40px;
}
.gallery__item:nth-child(4){
    grid-row: span 4;
    margin-top: 20px;
}
.gallery__item:nth-child(5){
    grid-row: span 3;
}
.gallery__item:nth-child(6){
    grid-row: span 3;
    
}
.gallery__item:nth-child(7){
    grid-column: span 2;
}
.gallery__item:nth-child(8){
    grid-row: span 2;
    
}
.gallery__item:nth-child(9){
    grid-row: span 3;
    
}
.gallery__item:nth-child(10){
    grid-row: span 2;
    grid-column: span 2;
}
.gallery__item:nth-child(11){
    grid-column: span 2;
}


.pre-footer__overlay{
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent 20%, #000 80%);
    mix-blend-mode: darken;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

section{
    overflow: hidden;
}

/*--------------------------------------------Artist section----------------------------------------*/
.artist-view__forum{
    background: radial-gradient(120.19% 65.75% at -30.21% 2.58%, 
    rgba(255, 208, 40, .12) 7.12%, rgb(15 45 56 / 42%) 42.28%, rgb(10 0 7) 100%), 
    linear-gradient(189.22deg, #66685c -17.47%, #000 66.23%);
    padding: 70px 0px 380px;
    position: relative;
}
.artist-circle__wrapper{
    pointer-events: none;
    min-width: 1500px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 50%;
    right: 0%;
    transform: translate(-50%);
}
.artist-circle{
    pointer-events: none;
    width: 100%;
    padding-top: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 50%;
    right: 0%;
    transform: translate(-50%, 15%);
}
.artist-circle__rotator{
    pointer-events: none;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.circle1{
    -webkit-animation: rotating 130s linear infinite;
    -moz-animation: rotating 130s linear infinite;
    -ms-animation: rotating 130s linear infinite;
    -o-animation: rotating 130s linear infinite;
    animation: rotating 130s linear infinite;
}
.artist-circle__person.circle1{
    -webkit-animation: rotating 130s linear reverse infinite;
    -moz-animation: rotating 130s linear reverse infinite;
    -ms-animation: rotating 130s linear reverse infinite;
    -o-animation: rotating 130s linear reverse infinite;
    animation: rotating 130s linear reverse infinite;
}

.artist-circle__crowd.sub-circle1{
    transform: rotate(60deg);
}
.artist-circle__crowd.sub-circle2{
    transform: rotate(15deg);
}
.artist-circle__crowd.sub-circle3{
    transform: rotate(120deg);
}
.artist-circle__person-spinner.spinner--1{
    transform: rotate(-60deg);
}
.artist-circle__person-spinner.spinner--2{
    transform: rotate(-15deg);
}
.artist-circle__person-spinner.spinner--3{
    transform: rotate(-120deg);
}

.circle2{
    -webkit-animation: rotating 80s linear infinite;
    -moz-animation: rotating 80s linear infinite;
    -ms-animation: rotating 80s linear infinite;
    -o-animation: rotating 80s linear infinite;
    animation: rotating 80s linear infinite;
}
.artist-circle__person.circle2{
    -webkit-animation: rotating 80s linear reverse infinite;
    -moz-animation: rotating 80s linear reverse infinite;
    -ms-animation: rotating 80s linear reverse infinite;
    -o-animation: rotating 80s linear reverse infinite;
    animation: rotating 80s linear reverse infinite;
}
.artist-circle__crowd.sub-circle4a{
    top: 12%;
    bottom: 12%;
    left: 12%;
    right: 12%;
    transform: rotate(105deg);
}
.artist-circle__crowd.sub-circle4b{
    top: 12%;
    bottom: 12%;
    left: 12%;
    right: 12%;
    transform: rotate(165deg);
}
.artist-circle__crowd.sub-circle4c{
    top: 12%;
    bottom: 12%;
    left: 12%;
    right: 12%;
    transform: rotate(60deg);
}
.artist-circle__person-spinner.spinner--4a{
    transform: rotate(-105deg);
}
.artist-circle__person-spinner.spinner--4b{
    transform: rotate(-165deg);
}
.artist-circle__person-spinner.spinner--4c{
    transform: rotate(-60deg);
}





.artist-circle__crowd{
    width: 6%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 2%;
    right: 2%;
}

.artist-circle__person{
    opacity: 1;
    pointer-events: auto;
    border-radius: 50%;
    padding-top: 100%;
    position: static;
    overflow: visible;
}
.artist-circle__person.top {
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}
.artist-circle__person.top.circle1{
    transition: filter .5s ease-in-out;
}
.artist-circle__person.bottom {
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
}


.artist-circle__person-spinner{
    z-index: 3;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.artist-circle__card{
    opacity: 0;
    transform: scale(0);
}
.artist-circle__card{
    aspect-ratio: 1;
    opacity: 0;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 120px;
    height: 100%;
    transition: box-shadow .2s cubic-bezier(.165,.84,.44,1);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(.5);
}
.artist-hero_img{
    filter: saturate(20%);
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: box-shadow .4s cubic-bezier(.165,.84,.44,1), transform .4s cubic-bezier(.165,.84,.44,1);
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.artist-name{
    color: rgba(141, 178, 193, .58);
    text-align: center;
    width: 100%;
    max-width: 80px;
    font-size: .9375rem;
    line-height: 1.2;
    position: absolute;
    top: 115%;
}
.artist-hero_img:hover {
    filter: saturate();
    outline-color: var(--color-themegreen);
    outline-offset: 6px;
    outline-width: 2px;
    outline-style: solid;
    transform: scale(1.05);
    box-shadow: 0 4px 4px rgba(20, 204, 245, 0.3), 0 4px 60px rgba(200, 245, 20, 0.18);
    transition: box-shadow .4s cubic-bezier(.165,.84,.44,1), transform .4s cubic-bezier(.165,.84,.44,1);
}


.artist-ring__block{
    z-index: -1;
    pointer-events: none;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.artist-ring {
    pointer-events: none;
    border: 3px solid rgba(80,102,91,.7);
    border-radius: 50%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: scale(.39);
}
/* .freelancer-ring.cc-2 {
    transform: scale(.2);
}
.freelancer-ring.cc-3 {
    transform: scale(.3);
}
.freelancer-ring.cc-4 {
    transform: scale(.4);
}
.freelancer-ring.cc-5 {
    transform: scale(.5);
} */
.ring4 {
    transform: scale(.6);
}
.ring3 {
    transform: scale(.7);
}
.ring2 {
    transform: scale(.8);
}
.ring1 {
    transform: scale(.9);
}



@-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  /* All other browsers */
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


/*----------------------------footer---------------------------*/
.footer-main{
    background: var(--color-footerbg);
}
.footer-top{
    padding: 50px 0px;
}
.footer-logo{
    padding: 0px 0px 25px;
}
.footer-logo img{
    max-width: 60px;
}
.footer-top__grid{
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 110px;
}
.footer-top__menu-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.footer-text{
    font-size: var(--text-sm);
    color: rgba(255,255,255,.82);
    /* font-weight: 300; */
    line-height: 1.8;
}
.footer-heading{
    font-size: var(--text-lg);
    color: var(--color-footer-heading);
}
.footer-top__menu li{
    margin-bottom: 10px;
}
.footer-top__menu li:hover a{
    color: var(--color-white);
}
.footer-bottom{
    border-top: 1px solid rgba(221,238,231,.81);
    padding: 20px 0px;
}
.footer-bottom__grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copy{
    font-size: var(--text-sm);
    color: rgba(227, 243, 219, .47);
    margin-bottom: 0px;
}
.footer__social-media{
    display: flex;
    gap: 20px;
}
/* .footer__social-media svg{
    max-width: 20px;
    max-height: 20px;
} */
.footer__social-media svg path{
    fill: rgba(227, 243, 219, .47);
    transition: all .3s ease-in-out;
}
.footer__social-media a:hover svg path{
    fill: var(--color-theme-lime);
    transition: all .3s ease-in-out;
}
.footer-top__menu .footer-text{
    line-height: 1.2;
}



@media (max-width: 1400px){
    h1{
        font-size: var(--text-mdbig);
    }
    /* .banner__text{
        max-width: 700px;
    } */
}

@media (max-width: 1200px){
    h1{
        font-size: var(--text-9xl);
    }
    /* .banner__text{
        max-width: 600px;
        max-height: inherit;
    } */
    /* .banner__image {
        height: auto;
        margin-top: 50px;
    } */
    /* .banner__image img {
        height: auto;
        width: auto;
        max-height: 400px;
    } */
    
}

@media (max-width: 1025px){
    .banner__image img{
        width: auto;
    }
}


@media (max-width:991px){
    h1{
        font-size: var(--text-8xl);
        
    }
    /* .banner__text{
        max-width: 550px;
    } */
    .banner__inner{
        height: inherit;
        min-height: 500px;
    }
    .banner__image img {
        height: 100%;
        width: auto;
    }
    .banner__text {
        max-width: 270px;
    }
    .banner__text h1 {
        font-size: var(--text-mb5xl);
    }
    .banner__text p {
        font-size: var(--text-sm1);
    }
    .btn-theme{
        font-size: var(--text-sm);
    }


    .footer-top__grid{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    
}

@media (max-width: 768px) {
    .mobile-menu__burger{
        display: block;
    }    
    .mobile-menu__burger.active span:first-child{
        transform: rotate(-45deg) translate(-10px, 10px);
        width: 28px;
    }
    .mobile-menu__burger.active span:nth-child(2){
        width: 0;
    }
    .mobile-menu__burger.active span:last-child{
        transform: rotate(45deg);
    }
    .mobile-menu__burger.active:before {
        width: 0;
        height: 0;
    }
    .mobile-menu__burger.active:after
    {
        width: 0;
        height: 0;
    }
    .menu-container__list{
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out, pointer-events 0.3s ease-in;
    }
    .menu-container .btn-theme{
        pointer-events: none;
        transform: translate(-50%, 250%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out, pointer-events 0.3s ease-in;
        position: fixed;
        top: calc(100vh - 70px);
        left: 50%;
    }
    .menu-container.show-menu .menu-container__list{
        position: fixed;
        inset: 0;
        height: 100vh;
        width: 100vw;
        backdrop-filter: blur(100px);
        background: rgba(0,0,0,.92);
        opacity: 1;
        pointer-events: inherit;
        display: flex;
        justify-content: center;
    }
    .menu-container .menu-container__list ul{
        transform: translateY(200%);
        opacity: 0;
        transition: opacity .5s ease-in-out, transform .4s ease-in-out;
    }
    .menu-container.show-menu .menu-container__list ul{
        transform: translateY(0);
        opacity: 1;
    }
    .menu-container.show-menu  .btn-theme{
        pointer-events: inherit;
        transform: translate(-50%, 0);
        opacity: 1;
    }
    .menu-container.show-menu .menu-container__list ul li{
        display: block;
        padding: 10px;
    }
    body.overflow-hide{
        overflow: hidden;
    }
    .banner__image img {
        max-height: 300px;
    }
    h1{
        font-size: var(--text-7xl);
    }
    .banner__text {
        max-width: 500px;
    }
    .banner__text p{
        font-size: var(--text-md);
    }
    .btn-theme{
        font-size: var(--text-sm);
    }
    .gallery__item:not(:first-child){
        grid-row: span 2 !important;
        grid-column: auto !important;
        margin: 0px !important;
    }
}
@media (max-width:576px){
    .menu-container.show-menu  .btn-theme{
        width: 80%;
    }
    h1{
        font-size: var(--text-6xl);
    }
    .banner__text {
        max-width: 500px;
    }
    .footer-top__menu-grid{
        grid-template-columns: 1fr;
    }
    .footer-top{
        padding-bottom: 30px;
    }
    .footer-bottom__grid{
        flex-direction: column;
        gap: 15px;
    }
    
}
@media (max-width:480px){
    .menu-container.show-menu  .btn-theme{
        width: 80%;
    }
    h1{
        font-size: var(--text-5xl);
    }
    .banner__text {
        max-width: 500px;
    }
}




























