:root{
    --text-tiny: 10px;
    --text-xs: 12px;
    --text-xs1: 13px;
    --text-sm: 14px;
    --text-sm1: 15px;
    --text-md: 16px;
    --text-md1: 17px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-mxl: 22px;
    --text-2xl: 24px;
    --text-3xl: 25px;
    --text-mid: 28px;
    --text-4xl: 30px;
    --text-mb4xl: 32px;
    --text-5xl: 34px;
    --text-mb5xl: 36px;
    --text-6xl: 40px;
    --text-7xl: 42px;
    --text-8xl: 46px;
    --text-9xl: 50px;
    --text-mdbig: 60px;
    --text-wblarge: 65px;
    --text-lgbig: 70px;
    --text-big: 80px;
    --text-wblg: 90px;
    
    --color-themeorange: #cb7e54;
    --color-themegreen: #77dcb2;
    --color-dark: #0a1415;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-rust: #280e01;
    --color-pastelblue: #2b4753;
    --color-paleblue:#4a738e;
}


*{
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: var(--color-dark);
}

.container{
    max-width: 90%;
    margin-inline: auto;
    position: relative;
}

body{
    background: var(--color-dark);
    font-family: "Anybody", sans-serif;
}


/*---------------------------------header---------------------------------*/
.header-main{
    position: absolute;
    inset-inline: 0;
    top: 0;
    padding: 15px 0px;
    background: transparent;
    z-index: 5;
    box-shadow: inset 0px 40px 40px rgba(0,0,0,.35);
    backdrop-filter: blur(10px);
}
.logo{
    position: relative;
    z-index: 6;
}
.menu-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.menu-container__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-container__list ul li{
    display: inline-block;
    padding-left: 30px;
}
.menu-container__list ul li a{
    font-size: var(--text-xl);
    color: rgba(255,255,255,.7);
    text-transform: capitalize;
    transition: color 0.3s ease-in;
}
.menu-container__list ul li:hover a{
    color: rgba(255,255,255,1);
}
.logo img{
    max-width: 50px;
}
.mobile-menu__burger{
    position: relative;
    cursor: pointer;
    width: 30px;
    display: none;
}
.mobile-menu__burger span{
    display: block;
    height: 2px;
    width: 30px;
    background: linear-gradient(to right, var(--color-themeorange), var(--color-themegreen) 92%);
    transition: width 0.3s ease-in, transform 0.3s ease-in;
}
.mobile-menu__burger span:nth-child(2){
    margin: 5px 0px;
    width: 24px;
}
.mobile-menu__burger:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--color-dark);
    left: 25px;
    top: 13px;
    animation: burger-bullet-1 2s ease-in-out infinite;
}
.mobile-menu__burger:after
{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--color-dark);
    left: 5px;
    top: -2px;
    animation: burger-bullet-2 2s ease-in-out infinite;
}
.mobile-menu__burger:hover span:first-child{
    width: 16px;
}
.mobile-menu__burger:hover span:nth-child(2){
    width: 22px;
}
.mobile-menu__burger:hover span:last-child{
    width: 28px;
}


@keyframes burger-bullet-1{
    0% {
        left: 25px;
    }
    50% {
        left: 5px;
    }
    100% {
        left: 25px;
    }
}
@keyframes burger-bullet-2
{
    0% {
        left: 5px;
    }
    50% {
        left: 25px;
    }
    100% {
        left: 5px;
    }
}


/*---------------------------banner------------------------------*/
.banner{
    position: relative;
    background: radial-gradient(circle, rgba(74, 50, 23, .59) 20%, rgba(18, 23, 24, 1) 100%);
    overflow-x: hidden;
}
.banner__inner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    position: relative;
}
.banner__image{
    height: 60%;
    position: relative;
    z-index: 1;
    animation: fadeIn 5s linear;
    transition: animation 1s;
    /* animation-delay: 1.5s; */
    transition-delay: 4s;
}
.banner__image img{
    height: 100%;
    width: auto;
    display: block;
}
h1 span{
  background: linear-gradient(to right, var(--color-themeorange), var(--color-themegreen));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.banner__text h1{
    font-size: var(--text-lgbig);
    line-height: 1.1;
    color: var(--color-white);
    animation: fadeIn 2s linear;
}
@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
  }

.banner__text {
    max-width: 820px;
    text-align: center;
    padding-top: 40px;
    color: rgba(255,255,255,.82);
    position: relative;
    z-index: 2;
    max-height: 40%;
}
.banner__text p{
    font-size: var(--text-xl);
    margin: 0 0 20px;
    animation: fadeIn 1s linear;
    transition: animation .3s ease-in;
    transition-delay: .6s;
}
.btn-theme{
    display: inline-block;
    padding: 10px 30px;
    background-image: linear-gradient(to right, var(--color-themeorange), var(--color-themegreen) 43%);
    background-size: 300% 100%;
    transition: background .3s ease-in-out, color .3s ease-in-out;
    border-radius: 30px;
    text-align: center;
    color: var(--color-black);
    font-size: var(--text-md);
    font-weight: 500;
}
.btn-theme:hover, .btn-theme:focus {
    background-position: 26% 0;
    color: var(--color-rust);
}
.banner__text .btn-theme{
    animation: fadeIn 2s linear;
    transition: background .3s ease-in-out, color .3s ease-in-out, animation 1s ease-in;
   
}
.banner__object{
    position: absolute;
    inset: 0;
    padding: 100px 0px;
    mix-blend-mode: color-dodge;
}
.banner__object--image{
    max-width: 200px;
    opacity: 0.8;
}
.banner__object--image:first-child{
    margin-left: -80px;
}
.banner__object--image:nth-child(2){
    position: absolute;
    right: -90px;
    top: 200px;
}
.banner__object--image:nth-child(3){
    position: absolute;
    right: 0;
    bottom: 8%;
    max-width: 140px;
}
.banner__object--image:last-child{
    position: absolute;
    left: -30px;
    bottom: 5%;
    max-width: 120px;
}

/*-------------------------------search and tab section--------------------------------------*/
.music-ocean{
    background: url(../images/dj-sound.jpg) no-repeat top center;
    background-size: 100%;
    position: relative;
    z-index: 0;
    padding: 80px 0px;
}
.music-ocean::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(45, 45, 52, .8);
    position: absolute;
    inset: 0;
    z-index: 0;
    box-shadow: inset 0px -60px 150px #a5805b8f;
}
.section-heading{
    text-align: center;
    position: relative;
    z-index: 1;
}
.section-heading__main{
    font-size: var(--text-8xl);
    line-height: 1;
    color: rgba(255,255,255,.82);
    font-weight: 600;
    margin-bottom: 20px;
}
.section-heading__main span{
    background: linear-gradient(to right, var(--color-themeorange), var(--color-themegreen));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.section-heading__text{
    font-size: var(--text-lg);
    color: rgba(255,255,255,.82);
}
.multi-search{
    display: flex;
    height: 54px;
    border: 2px solid #759daf;
    border-radius: 30px;
    background: linear-gradient(90deg, rgb(139, 188, 209,.1) 0%, rgb(33, 33, 33, .79) 90%);
    padding: 4px;
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 60px;
    overflow: hidden;
}
.multi-search__wrap
{
    min-width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgb(102, 167, 150, .5);
    border-radius: 30px;
    font-size: var(--text-lg);
    color: rgba(255,255,255,.82);
}

.multi-search__input-block{
    flex-grow: 1;
    height: 100%;
    margin-left: -190px;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}
.multi-search__input{
    width: calc(100% - 190px);
    height: 100%;
    font-size: var(--text-lg);
    line-height: 50px;
    color: var(--color-white);
    border: none;
    outline: none;
    background: transparent;
    padding-left: 200px;
}
.multi-search__input::placeholder{
    color: rgba(255,255,255,.7);
    text-align: center;
    transition: opacity .2s ease;
}
.multi-search__input:focus::placeholder{
    opacity: 0;
}
.multi-search__input-action{
    padding: 0;
    background: transparent;
    width: 30px;
    flex-shrink: 0;
    border: none;
}
.multi-search__input-action svg path{
    stroke: rgba(255,255,255,.82);
}







@media (max-width: 1400px){
    h1{
        font-size: var(--text-mdbig);
    }
    .banner__text{
        max-width: 700px;
    }
}

@media (max-width: 1200px){
    h1{
        font-size: var(--text-9xl);
    }
    .banner__text{
        max-width: 600px;
        max-height: inherit;
    }
    .banner__image {
        height: auto;
        margin-top: 50px;
    }
    .banner__image img {
        height: auto;
        width: auto;
        max-height: 400px;
    }
    .banner__inner{
        height: inherit;
    }
}


@media (max-width:991px){
    h1{
        font-size: var(--text-8xl);
        
    }
    .banner__text{
        max-width: 550px;
    }
}

@media (max-width: 768px) {
    .mobile-menu__burger{
        display: block;
    }    
    .mobile-menu__burger.active span:first-child{
        transform: rotate(-45deg) translate(-10px, 10px);
        width: 28px;
    }
    .mobile-menu__burger.active span:nth-child(2){
        width: 0;
    }
    .mobile-menu__burger.active span:last-child{
        transform: rotate(45deg);
    }
    .mobile-menu__burger.active:before {
        width: 0;
        height: 0;
    }
    .mobile-menu__burger.active:after
    {
        width: 0;
        height: 0;
    }
    .menu-container__list{
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out, pointer-events 0.3s ease-in;
    }
    .menu-container .btn-theme{
        pointer-events: none;
        transform: translate(-50%, 120%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out, pointer-events 0.3s ease-in;
        position: fixed;
        top: calc(100vh - 70px);
        left: 50%;
    }
    .menu-container.show-menu .menu-container__list{
        position: fixed;
        inset: 0;
        height: 100vh;
        width: 100vw;
        backdrop-filter: blur(100px);
        background: rgba(0,0,0,.92);
        opacity: 1;
        pointer-events: inherit;
        display: flex;
        justify-content: center;
    }
    .menu-container .menu-container__list ul{
        transform: translateY(120%);
        opacity: 0;
        transition: opacity .5s ease-in-out, transform .4s ease-in-out;
    }
    .menu-container.show-menu .menu-container__list ul{
        transform: translateY(0);
        opacity: 1;
    }
    .menu-container.show-menu  .btn-theme{
        pointer-events: inherit;
        transform: translate(-50%, 0);
        opacity: 1;
    }
    .menu-container.show-menu .menu-container__list ul li{
        display: block;
        padding: 10px;
    }
    body.overflow-hide{
        overflow: hidden;
    }
    .banner__image img {
        max-height: 300px;
    }
    h1{
        font-size: var(--text-7xl);
    }
    .banner__text {
        max-width: 500px;
    }
    .banner__text p{
        font-size: var(--text-md);
    }
    .btn-theme{
        font-size: var(--text-sm);
    }
}
@media (max-width:576px){
    .menu-container.show-menu  .btn-theme{
        width: 80%;
    }
    h1{
        font-size: var(--text-6xl);
    }
    .banner__text {
        max-width: 500px;
    }
}
@media (max-width:480px){
    .menu-container.show-menu  .btn-theme{
        width: 80%;
    }
    h1{
        font-size: var(--text-5xl);
    }
    .banner__text {
        max-width: 500px;
    }
}




























